<div class="contents row">
   <div class="tweet-nickname">
  <%= @tweet.user.nickname %><span>の投稿</span>
  </div>
    <div class="vou" >
     <%= @tweet.created_at.strftime('%Y/%m/%d') %>
     </div>
     <div class="eou">
      <%= image_tag @tweet.image ,class:"item-box-img" %>
      </div>
    <div class='dou'>
      <%= @tweet.diary %>
    </div>
<div class="boxContainer">
 <% if current_user.id == @tweet.user_id %>
      <%= link_to "ツイートを編集する", edit_tweet_path(@tweet.id), method: :get, class: "cou" %>
      <%= link_to "ツイートを削除する", tweet_path(@tweet.id), method: :delete, class:"aou" %>
      <%end%>
      </div>
      </div>
      <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>

      