<div class="contents row">
   <div class="tweet-nickname">
  <%= @tweet.user.nickname %><span>の投稿</span>
  </div>
    <div class="vou" >
     <%= @tweet.created_at.strftime('%Y/%m/%d') %>
     </div>
      <%= image_tag @tweet.image ,class:"item-box-img" %>
    <div class='dou'>
      <%= @tweet.diary %>
    </div>
<div class="boxContainer">
 <% if current_user.id == @tweet.user_id %>
      <%= link_to "ツイートを編集する", edit_tweet_path(@tweet.id), method: :get, class: "cou" %>
      <%= link_to "ツイートを削除する", tweet_path(@tweet.id), method: :delete, class:"aou" %>
      <%end%>
      </div>
      </div>

      