<div class="my-page">
<div class="my-page-title">
Mypage
</div>
<div class="back">
<div class="graph-title">
  これまでの体重
  </div>
  </div>
  <div class="graph">
    <%= line_chart @tweets.group_by_day(:created_at, format:"%m/%d", series: false).sum(:weight),
    height: "400px",
    min: 30,
    max: 80, 
    curve: false %>
  </div>
  </div>
  <div class="back">
<div class="graph-title">
  いままでの投稿
  </div>
  </div>
<div class='item-abc'>
    
    <ul class='item-lists'>
      <% @tweets.each do |tweet| %>
        <div class='list'>
          <%= link_to tweet_path(tweet.id) do %>
          <div class='tweet-user'>
                <%= tweet.user.nickname %>
                </div>
            <div class='item-img-content'>
            <%= image_tag tweet.image, class: 'item-img'%>
            
            <div class='item-info'>
                 
              <h3 class='tweet-time'>
                <%= tweet.created_at.strftime('%Y/%m/%d') %>
              </h3>
              <h3 class='item-diary'>
                <%= tweet.diary %>
              </h3>
            </div>
            </div>
        <% end %>
        </div>
      <% end %>
    </ul>
  </div>
</div>